@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

nav ul li{
    display: inline-block;
    padding-right: 2em;
}

nav ul li a{
    text-decoration: none;
    color:#777
}

nav ul li a:hover{
    color:blueviolet
}

nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: .1px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    max-width: 100*;
    height: auto;
}


h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

body{
    font-family: Source Sans Pro;
    background-color: #eee;
    border: #eee;
}

Header{
    font-family: Abril Fatface;
}

main h2{
    font-family:san;
}

main h5{
    color: #dd3232;
    font-family: roboto slab;
}

p{
    color: 
}

.newspaper-container{
    background-color: white;
    border-radius: .5em;
    box-shadow: 1.5px 2.5px grey;
    padding: 1em 2em 1em 2em;
    margin: 6em 3em;
}

main{
    border-bottom: 1px solid grey;
    text-align: justify;
    
}

section {
    display:inline-block;
    max-width: 20em;
    padding: 1em;
    text-align: justify;
    
}

.date{
    padding-left: .9em;
    padding-top: 1em;
    color: #777;
}

footer{
    border-top: .1em solid grey;
}

img{
    max-width: 100%;
    height:auto;
    display: block;
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-10%);
} 

.more-articles{
    text-align: center;
}